@import url("/css/reset.css");
@import url("/css/shop.css");
@import url("/css/login.css");
@import url("/css/register.css");
@import url("/css/blog.css");

@font-face {
  font-family: vazir;
  src: url("/assets/fonts/Vazirmatn-Regular.woff2");
}

* {
  box-sizing: border-box;
  font-family: vazir;
}

body {
  background-color: #fdfdfd;
  font-family: vazir;
}

menu {
  width: 100%;
  height: 70px;
  background-color: #fdfdfd;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 10px;
  z-index: 200;
}

menu .menu--items {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

menu .menu--items ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

menu .menu--items ul li a {
  color: #000;
  padding: 25px 10px;
  transition: color 0.2s ease;
}

menu .menu--items ul li a:hover {
  color: #707070;
  transition: color 0.2s ease;
}

menu .cart {
  margin-right: auto;
}

#cart--box {
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  border-radius: 10px;
  box-shadow: 0 0 10px #000;
}

#cart--box > ul {
  max-height: 500px;
  overflow-y: auto;
  padding: 20px;
}

#cart--box ul li {
  width: 600px;
  padding: 10px 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #eee;
  border-radius: 15px;
}

#cart--box ul li img {
  width: 50px;
  height: 50px;
  border-radius: 15px;
}

#cart--box ul h6 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 200px;
}

#cart--box ul {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cart--box ul li {
  padding: 20px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

#cart--box ul .buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#cart--box ul button {
  width: 49%;
}

#cart--box ul button:first-child {
  background-color: #FF463F;
}

#cart--box ul button:first-child:hover {
  background-color: #c00701;
}

menu .cart button {
  height: 50px;
  background-color: #0839d3;
  color: #fff;
  font-size: 14px;
  font-weight: 800;
  padding: 0 20px;
  border: 0;
  border-radius: 25px;
  cursor: pointer;
}

menu .register--box {
  margin-right: 10px;
}

menu .register--box button {
  height: 50px;
  background-color: transparent;
  color: #333;
  font-size: 14px;
  font-weight: 600;
  padding: 0 20px;
  border: 1px solid #eee;
  border-radius: 25px;
  cursor: pointer;
  transition: color 0.2s ease;
}

menu .register--box button:hover {
  color: #707070;
  transition: color 0.2s ease;
}

.welcome {
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-top: 70px;
}

.welcome img {
  width: 70%;
  border-radius: 20px;
}

.welcome .left--box {
  width: 25%;
  height: 496px;
  background-color: #0634d2;
  padding: 20px;
  border-radius: 20px;
}

.welcome .left--box h2 {
  color: #fff;
  font-size: 20px;
  font-weight: 800;
  padding-bottom: 15px;
  border-bottom: 1px solid #fff;
}

.welcome .left--box .box {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome .left--box .box img {
  width: 50%;
}

.welcome .left--box .box h3 {
  color: #fff;
  font-size: 18px;
  margin-top: 20px;
}

.welcome .left--box .box p {
  color: #fff;
  margin-top: 10px;
}

.welcome .left--box .box button {
  background-color: transparent;
  color: #fff;
  font-size: 15px;
  border: 1px solid #fff;
  padding: 5px 15px;
  border-radius: 25px;
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.welcome .left--box .box button:hover {
  background-color: #fff;
  color: #333;
  transition: all 0.2s ease;
}

.last--products {
  padding: 20px;
}

.last--products h2 {
  width: 17%;
  color: #333;
  font-size: 25px;
  padding: 0 0 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #333;
  margin-right: 50px;
}

.last--products .row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
}

.last--products .box {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  border: 1px solid #eee;
  border-radius: 20px;
  margin: 0 10px;
  position: relative;
}

.last--products .box img {
  width: 100%;
  border-radius: 15px;
}

.last--products .box .off {
  background-color: #ff463f;
  color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 0 20px 30% 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  position: absolute;
  top: 0;
  right: 0;
}

.last--products .box .off p {
  height: fit-content;
  margin: 0;
  position: absolute;
  top: 40%;
  opacity: 1;
}

.last--products .box h4 {
  font-size: 16px;
  margin-top: 15px;
}

.last--products .box p {
  font-size: 14px;
  margin-top: 10px;
  opacity: 0.8;
}

.last--products .box button {
  background-color: transparent;
  font-size: 15px;
  padding: 5px 15px;
  border: 1px solid #333;
  border-radius: 25px;
  margin-top: 15px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.last--products .box button:hover {
  background-color: #0634d2;
  color: #fff;
  border-color: #0634d2;
  transition: all 0.2s ease;
}

.top--game {
  background: linear-gradient(to right, #c00701, #1d1d1d);
  padding-top: 60px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.top--game .right {
  width: 15%;
  margin: 0 50px 0 80px;
}

.top--game .right img {
  width: 100%;
}

.top--game .left {
  width: 50%;
  margin-top: auto;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.top--game .left span {
  color: #a99c9b;
  font-size: 18px;
}

.top--game .left h4 {
  color: #fff;
  font-size: 1.8rem;
  font-weight: bold;
  margin-top: 20px;
}

.top--game .left p {
  color: #b1a3a3;
  margin-top: 20px;
  line-height: 2;
  text-align: justify;
}

.top--game .left button {
  width: fit-content;
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  padding: 10px 30px;
  margin-top: 20px;
  border: 1px solid #fff;
  border-radius: 15px;
  align-self: flex-end;
  cursor: pointer;
  transition: all 0.2s ease;
}

.top--game .left button:hover {
  background-color: #fff;
  color: #333;
  transition: all 0.2s ease;
}

.last--blogs {
  padding: 20px;
}

.last--blogs h2 {
  width: 17%;
  color: #333;
  font-size: 25px;
  padding: 0 0 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #333;
  margin-right: 50px;
}

.last--blogs .row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
}

.last--blogs .box {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  border: 1px solid #eee;
  border-radius: 20px;
  margin: 0 10px;
}

.last--blogs .box img {
  width: 100%;
  border-radius: 15px;
}

.last--blogs .box h4 {
  font-size: 20px;
  margin-top: 20px;
  cursor: pointer;
}

.last--blogs .box p {
  font-size: 14px;
  margin-top: 15px;
  opacity: 0.8;
}

footer {
  width: 100%;
  background-image: linear-gradient(to bottom, #0533cf, #01071c);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 40px 0;
}

footer .right {
  width: 20%;
}

footer .right h5 {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

footer .right p {
  color: #fff;
  opacity: 0.8;
  margin-top: 10px;
  line-height: 1.5;
}

footer .right form {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 25px;
}

footer .right form input {
  height: 40px;
  background-color: transparent;
  color: #fff;
  padding: 0 20px;
  margin-left: 10px;
  border-radius: 10px;
  outline: 0;
  border: 1px solid #0839d3;
}

footer .right form button {
  background-color: #0839d3;
  font-weight: bold;
  padding: 0 25px;
  border: 1px solid #0839d3;
  border-radius: 10px;
  cursor: pointer;
}

footer .middle {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .left {
  width: 25%;
  display: flex;
  flex-direction: column;
}

footer .middle .row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

footer .middle .box {
  height: 120px;
  width: 120px;
  background-color: #ffffff1f;
  border-radius: 15px;
  padding: 20px;
  cursor: pointer;
}

footer .middle .box img {
  width: 100%;
}

footer .middle p {
  color: #fff;
  opacity: .8;
  margin-top: 20px;
}

footer .left .contact--box {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

footer .left .contact--box h6 {
  color: #fff;
  opacity: .7;
}

footer .left .contact--box p {
  color: #fff;
}